
.exp {
    background-color: #010c21;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item1, .item2, .item3 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #1a2a48;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    width: 90%; 
    padding: 20px;
}

.item1 h1, .item2 h1, .item3 h1 {
    color: white;
    font-size: 24px;
}

.item1 h3, .item2 h3, .item3 h3 {
    color: antiquewhite;
    font-size: 20px;
}

.item1 h5, .item2 h5, .item3 h5 {
    color: azure;
    font-size: 16px;
    margin:0 ;
}

.item1 li, .item2 li, .item3 li {
    color: rgb(226, 212, 195);
    /* margin-left: 40px; */
    font-size: 14px;
    margin: 0;
}

/* For Tablets and Small Laptops (min-width: 768px) */
@media (min-width: 768px) {
    .item1, .item2, .item3 {
        margin-left: 50px;
        margin-right: 50px;
        width: 80%; 
    }

    .item1 h1, .item2 h1, .item3 h1 {
        font-size: 28px;
    }

    .item1 h3, .item2 h3, .item3 h3 {
        font-size: 22px;
    }

    .item1 h5, .item2 h5, .item3 h5 {
        font-size: 20px;
    }

    .item1 li, .item2 li, .item3 li {
        font-size: 18px; 
    }
}

/* For Larger Screens (Desktops - min-width: 1024px) */
@media (min-width: 1024px) {
    .item1, .item2, .item3 {
        margin-left: 100px;
        margin-right: 100px;
        width: 70%; 
    }

    .item1 h1, .item2 h1, .item3 h1 {
        font-size: 32px; 
    }

    .item1 h3, .item2 h3, .item3 h3 {
        font-size: 26px;
    }

    .item1 h5, .item2 h5, .item3 h5 {
        font-size: 20px;
    }

    .item1 li, .item2 li, .item3 li {
        font-size: 18px; 
    }
}
