.exp{
    background-color: #010c21;
    display: flex;
    flex-direction: column;
}
.item1{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1a2a48;
    margin-top: 30px;
}
.item1 h1{
    margin-left: 70px;
    color: white;
}
.item1 h3{
    margin-left: 70px;
    color: antiquewhite;
}
.item1 h5{
    color: azure;
    margin-left: 70px;
}
 .item1 li{
    color: rgb(226, 212, 195);
    margin-left: 40px;

}

.item2{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1a2a48;
    margin-top: 30px;
}
.item2 h1{
    margin-left: 70px;
    color: white;
}
.item2 h3{
    margin-left: 70px;
    color: antiquewhite;
}
.item2 h5{
    color: azure;
    margin-left: 70px;
}
 .item2 li{
    color: rgb(226, 212, 195);
    margin-left: 40px;

}

.item3{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1a2a48;
    margin-top: 30px;
}
.item3 h1{
    margin-left: 70px;
    color: white;
}
.item3 h3{
    margin-left: 70px;
    color: antiquewhite;
}
.item3 h5{
    color: azure;
    margin-left: 70px;
}
 .item3 li{
    color: rgb(226, 212, 195);
    margin-left: 40px;

}