.footer{
    background-color: #010c21;
    display: flex;
    
    /* padding: 50px; */
}
.footer-left{
    margin-top: 100px;
    color: white;
    font-size: 15px;
    margin-left: 50px;
}
.footer-right{
    margin-top: 130px;
    margin-left: 850px;
}
.footer-right a{
    color: white;
    margin-top: 80px;
}