
.footer {
    background-color: #010c21;
    display: flex;
    flex-direction: column;
    height: 200px;
     
    align-items: center; 
    
}

.footer-left {
    color: white;
    font-size: 15px;
    text-align: center; 
    margin-top: 20px;
}

.footer-right {
    color: white;
    text-align: center; 
    margin-top: 20px;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}


@media (min-width: 768px) {
    .footer {
        flex-direction: row; 
        justify-content: space-between;
    }

    .footer-left {
        margin-top: 0;
        font-size: 18px; 
        margin-left: 50px;
    }

    .footer-right {
        margin-top: 0;
        margin-right: 50px;
        text-align: right;
    }

    .footer-right a {
        margin-top: 0;
        margin-right: 20px; 
    }
}


@media (min-width: 1024px) {
    .footer-left {
        font-size: 20px; 
        margin-left: 100px; 
    }

    .footer-right {
        margin-left: 0;
        margin-right: 100px; 
        text-align: right;
    }
}
