.car-container{
    display: flex;
    background-color: #010c21;
    gap: 20px;
    height: 500px;
}



.car{
    margin-top: 50px;
    background-color: #0d1b35;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 90px;
    width: 400px;
}
.car h3{
    margin-left: 80px;
    color: white;
}
.car button{
    margin-left: 120px;
    background-color: #9374e8;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
/* .cae a{
    text-decoration: none;
    font-size: 40px;
} */
.car2{
    margin-top: 50px;
    background-color: #0d1b35;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 90px;
    width: 400px;
}
.car2 h3{
    margin-left: 80px;
    color: white;
}
.car2 button{
    margin-left: 120px;
    background-color: #9374e8;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.car3{
    margin-top: 50px;
    background-color: #0d1b35;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 90px;
    width: 400px;
}
.car3 h3{
    margin-left: 80px;
    color: white;
}
.car3 button{
    margin-left: 120px;
    background-color: #9374e8;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.car3 img{
    width: 250px;
}